.cards {
  margin: 51px auto 66px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 17px;
  width: 100%;
  /* max-height: 744px; */
  overflow: hidden;
}
@media screen and (max-width: 780px) {
  .cards {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    grid-template-rows: auto;
    margin: 36px auto;
    width: calc(100% - 38px);
  }
}
@media screen and (max-width: 550px) {
  .cards {
    grid-template-columns: 1fr;
    margin: 36px auto 48px;
  }
}
