.logo {
  max-width: 142px;
  padding-bottom: 41px;
}
@media screen and (max-width: 870px) {
  .logo {
    padding-left: 19px;
  }
}
@media screen and (max-width: 320px) {
  .logo {
    max-width: 104px;
    padding-left: 27px;
    padding-bottom: 31.6px;
  }
}
