.popup__container {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  
  padding: 34px 36px 37px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  color: #000000;
  max-width: 430px;
  width: 100%;
}
@media screen and (max-width: 550px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px 25px;
  }
}
