.header {
  margin-bottom: 37px;
  /* padding-top: 45px; */
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  max-width: 880px;
  /* margin: 0 auto 37px ; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
